 body {
      text-align: center;
      background: url("");
      background-position: center;
      color: black;
      font-family: helvetica;
      padding-top: 70px; 
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }


#map {
  width: 200px;
  height: 170px;
  padding: 20px;
}

#location{
  text-align: left;
  font-size: 8px
  padding: 70px;
}